---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>c4studio-template-bas</title>
	</head>
	<body>
		<h1>c4studio-template-bas</h1>
        <p>Basic Astro Setup Template for c4studio</p>
	</body>
</html>
